{% extends 'base.html' %}

{% block app_content %}
<div>
    <h1>Grade Answers</h1>
</div>
<div>
    <div>
        {% if answers %}
        <ul class="list-unstyled">
            {% for answer in answers %}
            <li class="media border-top py-4">
                <div class="media-body">
                    <h4 class="mt-0 mb-1">Question {{ answer.Question.question_number }}</h4>
                    <h6> {{ answer.Question.question }}</h6>
                    <h5 class="my-1">Correct Answer</h5>
                    <h6>{{ answer.Question.correct_answer }}</h6>
                    <p class="font-italic pt-2">Answer Submitted:</p>{{ answer.Answer.answer }}
                </div>
                <div>
                    <a class="btn btn-success"
                        href="{{ url_for('submit_graded_answers', username=username, answer_id=answer.Answer.id, is_correct=1) }}">Correct</a>
                    <a class="btn btn-danger"
                        href="{{ url_for('submit_graded_answers', username=username, answer_id=answer.Answer.id, is_correct=0) }}">Wrong</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="py-3">
            <a class="btn btn-primary" href="{{ url_for('home') }}">Done</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}