{% extends 'base.html' %}

{% block app_content %}
<div>
    {% if  current_user.is_authenticated %}
    <h1>Hey {{ current_user.username }}</h1>
    <p>Begin adding your trivia questions <a href="{{ url_for('add_questions') }}">here</a>.</p>

    <div>
        {% if users %}
        <p>These players have already submitted questions.</p>
        <ul class="list-group list-group-flush"></ul>
        {% for user in users %}
        <li class="list-group-item"><a href="{{ url_for('show_questions', username=user.username ) }}">{{ user.username }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% else %}
    <h1>Hello Trivia Bros</h1>
    <p>This is a small app to make playing Trivia a little bit easier. If you haven't done so already, please
        <a href="{{ url_for('sign_up') }}">sign up</a> or <a href="{{ url_for('login') }}">login</a>.
    </p>
    {% endif %}
</div>
{% endblock %}