{% extends 'base.html' %}

{% block app_content %}
<div>
    <h1>Rules</h1>
</div>
<div class="mt-3">
    <p>Each player will submit 10 questions and answers. Each player will take their turn as the Quiz Master. As the
        Quiz Master, each player will read their questions and the other players will submit their answers for the given
        Quiz Master. Before submitting their answers, players may revisit previous questions from the round and edit
        their answers.</p>
    <p>When all players have submitted their answers, the Quiz Master will grade each answer. One point will be awarded
        for each correct answer. At the end of the round, the points will be totaled and added the player’s overall
        scores. The game ends once every player has had their turn being the Quiz master. The player with the highest
        score at the end of the game wins!</p>
</div>

{% endblock %}