{% extends 'base.html' %}

{% block app_content %}
<div>
    <h1>Score</h1>
</div>
{% if scores %}
<div class="container-fluid">
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-10-md">
                <div class="table-responsive" style="height:40vh; width:80vw">
                    <canvas id="myChart" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Player</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score.username }}</td>
                <td>{{ score.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ players | safe }},
            datasets: [{
                label: 'Total Points',
                backgroundColor: 'rgb(0, 128, 255)',
                borderColor: 'rgb(0, 128, 255)',
                data: {{ player_scores | safe }}
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1
                    }
                }]
            }
        }
    });
</script>
{% endblock %}